$global-width: 100%;
$global-padding-desktop: 1.9rem;

$font-primary: 'Manrope', sans-serif;
// colors
$col_primary: #1a73e9;
$col_lightgreen: #31c972;

$col_gray: #f5f5f6;
$col_lightgray: #f9f9fb;

$col_blue: #4387F7;
$col_lighblue: #14bae5;

$border_radius: 8px;


// Dashboard
$topnav_height: 55px;